@import url('https://fonts.googleapis.com/css2?family=Hina+Mincho&family=Kaisei+Opti&family=Questrial&display=swap');

:root {
    --bg-color: #00529B;
    --logo-color: #FFD203;
    --border-color: #FFD203;
    --content-bg-color: #FFFFFF;
    --button-color: #FFD203;
    --button-highlight-color: #e6bd03;

    --logo-font-size: 64px;
    --login-label-font-size: 48px;
    --input-label-font-size: 24px;
    --label-font-size: 20px;
    --subtext-font-size: 18px;
}

/* Logo Font */
.hina-mincho-regular {
  font-family: "Hina Mincho", sans-serif;
  font-weight: 400;
  font-style: normal;
}

/* Content Title/Navbar Font */
.kaisei-opti-regular {
  font-family: "Kaisei Opti", sans-serif;
  font-weight: 400;
  font-style: normal;
}

/* Subcontent Font */
.questrial-regular {
  font-family: "Questrial", sans-serif;
  font-weight: 400;
  font-style: normal;
}

html {
    background-color: var(--bg-color);
}

body {
    margin: 0;
}

article {
    
}

.page-content {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.page-center {
    height: 720px;
    width: 958px;
    display: flex;
    align-items: center;
}

.logo-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 720px;
    width: 457px;
}

.logo-label {
    font-family: Hina Mincho;
    font-size: var(--logo-font-size);
    color: var(--logo-color);
    margin: 0;
}

.logo-content img {
    height: 480px;
    width: 480px;
    border-radius: 1000px;
    filter: drop-shadow(0px 0px 10px #000000)
}

.login-content, .signup-content {
    height: 560px;
    width: 457px;
    display: flex;
    flex-direction: column;
    background-color: var(--content-bg-color);
    border: 4px solid var(--border-color);
    border-radius: 48px;
    margin-left: 32px;
    align-items: center;
}

.login-label, .signup-label {
    font-family: Kaisei Opti;
    font-size: var(--login-label-font-size);
    margin-top: 0px;
    margin-bottom: 0px;
}

.login-input, .signup-input {
    display: flex;
    flex-direction: column;
    margin-top: auto;
    align-items: center;
}

.signup-form {
    width: 317px;
}

.username-input, .password-input, .email-input, .name-input, .address-input, .phone-input {
    height: 24px;
    width: 100%;
    font-size: var(--subtext-font-size)
}

.username-input, .email-input, .name-input, .address-input {
    margin-bottom: 32px;
}

.username-label, .password-label, .email-label, .name-label, .address-label, .phone-label {
    font-family: Kaisei Opti;
    font-size: var(--input-label-font-size);
}

.remember-label, .forgot-pass-label, .register-content {
    font-family: Questrial;
    font-size: var(--subtext-font-size)
}

.remember-label {
    margin-right: 24px;
}

.register-content {
    display: flex;
    margin-top: auto;
    align-items: center;
}

.login-button, .next-button {
    margin-top: 8px;
    height: 48px;
    width: 180px;
    font-family: Questrial;
    font-weight: bold;
    font-size: var(--input-label-font-size);
    background-color: var(--button-color);
    border: none;
    border-radius: 34px;
    transition: background-color 0.25s;
}

.login-button:hover, .next-button:hover {
    background-color: var(--button-highlight-color);
}

.register-label {
    margin-right: 4px;
}